.navbar{
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    width: 100%;
    background-color: rgb(46, 59, 85);
    position: fixed;
    z-index: 10;
}

.nav-links li{
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 26px;
}

.nav-title h1 {
    padding-left: 100px;
    color: #9999FF;
    font-family: Pacifico;
}

.nav-button {
    margin-left: 150%;
    background-color: black;
    color: #9999FF;
}

.nav-link link{
    text-decoration: none;
}