.event-feed {
    padding-top: 20%;
    color: #9999FF;
    background-color: rgba(0, 0, 0, 0.5);
}

.feed-table tr {
    color: #9999FF;
}

.feed-table th, tr {
    color: white;
    padding-top: 50px;
    height: 100px;
    vertical-align: middle;
}

tr:hover {
    background-color: #9999FF;
  }

  .feed-header {
      font-size: 46px;
  }
